export PORT=8081
export USE_FLASK_DEBUG_MODE=true
export NEGOTIATOR_LOG_LEVEL=DEBUG
export SECRET_KEY=2vaR+Kp/SbVUQwZ73Uu7ul3OCCI=
export DATABASE_URL='postgresql://localhost:5432/negotiator_development?user=negotiator&password=negotiator'
export OPENAI_API_KEY=fill_me_in
export CLIENT_ID=some_client_id
export CLIENT_SECRET=some_client_secret
export HOST_URL=http://localhost:8081
export OAUTH_URL=http://localhost:8999
export USER_INFO_URL=http://localhost:8999/userinfo
