<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Negotiator">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <script src="{{ url_for('static', filename='web-components/main.js') }}"></script>
</head>

<body>
<header>
    <a href="/"><h1>Negotiator</h1></a>
    {% if g.username %}
    <nav>
        <div>{{ g.username }}</div>
        <a href="/logout" class="button">sign out</a>
    </nav>
    {% endif %}
</header>
<main>
    {% block body %}{% endblock %}
</main>
</body>
</html>
